.SidePanelToggle {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,.9);
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 9;
	&:hover {
		cursor: pointer;
	}
	&.open {
		background-color: rgba(0,0,0,.5);
	}
}